.teams {
    background-image: url('/load.webp');
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-left: 100px;
    padding-top: 104px;
    z-index: 1;
}

.lov{
margin-right: 85px;
}