.teams {
  background-image: url("/load.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 100px;
  padding-top: 104px;
  z-index: 1;
}

.lov {
  margin-right: 85px;
}

.team_div {
  background-color: #a5dbef83;
  padding-top: 70px;
}
.team_member {
  height: 300px;
  width: 300px;
}
.team {
  padding-left: 2%;
  padding-right: 2%;
}

.saf {
  border-radius: 50%;
  height: 270px;
  width: 260px;
  margin-top: 40px;
}
.good {
  border-radius: 50%;
  height: 300px;
  width: 260px;
  margin-top: 40px;
}
.fra {
  border-radius: 50%;
  height: 200px;
  width: 210px;
  margin-top: 120px;
}
.round_doit {
  border-radius: 50%;
  background-color: black;
  height: 20px;
  margin-right: 20px;
  width: 20px;
  margin-top: 20px;
}

.team_pic {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}
@media only screen and (max-width: 1024px) {
  .team_pic {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}
@media only screen and (max-width: 770px) {
  .teams {
    background-image: url("/load.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-left: 50px;
    padding-top: 104px;
    z-index: 1;
  }
  .team_pic {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .lov {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .team_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
}
