.contact_text {
    font-family: 'Archivo', sans-serif;
    font-size: 75px;
    font-weight: 400;
    margin-top: 120px;
    position: relative;
    top: 20px;
}

.contact_Sub {
    margin-top: 130px;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Italiana', serif;

}

.anime_contact {
    margin-top: 140px;
}

.custom-input {

    border: none;
    /* Remove all borders */
    border-bottom: 2px solid white;
    /* Add white bottom border */
    outline: none;
    /* Remove default focus outline */
    background-color: transparent;
    /* Transparent background */
    padding: 5px;
    /* Some padding for visual separation */
    color: white;
    /* Text color */
    width: 300px;
    /* Set your desired width */
    margin-top: 20px;
}

.custom-messa {

    border: none;
    /* Remove all borders */
    border-bottom: 2px solid white;
    /* Add white bottom border */
    outline: none;
    /* Remove default focus outline */
    background-color: transparent;
    /* Transparent background */
    padding: 5px;
    /* Some padding for visual separation */
    color: white;
    /* Text color */
    width: 300px;
    height: 200px;
    /* Set your desired width */
    margin-top: 20px;
}

.widget{
    width: 500px;
    height: 500px;
}
.form_fel {
    font-family: 'Archivo', sans-serif;
justify-content: center;

    padding: 80px;
    color: white;
    margin-top: 150px;
}

.forn_det {
    margin-top: 70px;  
      font-size: 20px

}
.qies{
    font-size: 20px

}


.sub_btn {
    background-color: white;
    color: black;
    width: 150px;
    height: 40px;
}
