.portheade {
    font-size: 35px;
    text-align: center;
    font-family: 'Della Respira', serif;

}

.port {
    padding-top: 170px;
}

.port_content {
    margin-left: 10%;
    margin-right: 10%;
}