.we_div {
    max-width: 350px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Della Respira', serif;
    text-align: left;
}

.we_card {
    border: 2px solid black !important;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.about_image_2 {
    height: 85px !important;
    width: 250px !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.about_hero {
    margin-top: 180px;
    padding-left: 5%;
    font-size: 67px;
    font-family: 'Italiana', serif;
    font-weight: 600;
}

.about_hero_sub {
    padding-left: 5%;
    font-size: 67px;
    font-family: 'Italiana', serif;
    font-weight: 600;
    position: relative;
    bottom: 80px;
}

.about_image_1_div {

    margin-left: 30px;
}

.about_image_1 {
    border-radius: 50%;
    z-index: 2;
}

.black_round {
    border-radius: 50%;
    z-index: 1;
    position: relative;
    right: 50px;
    width: 200px;
    background-color: black;
    height: 200px;
    color: white;
    font-size: 18px !important;
    padding-top: 22%;
    font-weight: 100;
    padding-left: 55px;
    font-style: italic;
    font-family: 'Archivo', sans-serif;
}

.about_div {
    padding-top: 60px;
    background-color: #F4D4AE;
    margin-bottom: 40px;
    z-index: 0;
}


.about_us_section {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.about_us_section.sticky {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.indvi {
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    padding: 10px;
}

.abou_bav {
    background-color: black;
    height: 45px;
    border-radius: 5px;
    color: white;
}

.about_head {
    max-width: 900px;
}


.top_pro {
    margin-top: 150px;
}

.about_head_text {
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 65px;
    font-weight: 700;
}

.div_men {
    margin-top: 70px;
}

.sop {
    font-family: 'Della Respira', serif !important;

}

.au {
    background-color: red;
}

.we_cardee {
    margin-top: 120px;
}

.last_Cta {
    background-color: black;
    color: white;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px 50px 70px;
}

.we_head {
    margin-bottom: 130px;
    font-size: 45px !important;
}

.we_img {
    margin-top: 100px;
}

.we_card {
    /* Add card styles here */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    /* Add transition for background-color and color */
}

.we_card:hover,
.we_card:active {
    background-color: black;
    color: #fff;
    /* Change text color to white on hover and press */
}

.display_img {
    width: 70%;
}

.ought {
    color: red;
    font-weight: 600;
}

.process {
    margin-top: 50px;
}

.sub_card {
    font-size: 16px;
}

.heap {
    width: 100%;
    margin-bottom: 80px;
}

.about_intro {
    font-size: 35px;
    text-align: center;
}

.Problem_point {
    font-weight: 400;

    font-size: 22px;
    max-width: 600px;
}

.about_into_main {
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 70px;
}

.round_dot_white {
    border-radius: 50%;
    background-color: white;
    height: 10px;
    margin-right: 20px;
    width: 10px;
    margin-top: 12px;
}

.serv {
    font-family: 'Italiana', serif;
    font-size: 20px;
    font-weight: 700;
}

.intent_header {
    font-family: 'Italiana', serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 28px;
}

.home_img {
    margin-top: 90px;
    height: 500px;
    border-radius: 7px;
}

.sub_button {
    width: 150px;
    font-weight: 500;
    height: 38px;
    font-size: 18px;
    color: black;
    background-color: white;
}

.chase {
    font-family: 'Italiana', serif;
    font-size: 65px;
    font-weight: 700;
    margin-top: 48px;
}

.sub_cta {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.int_div {
    margin-top: 65px;
}

.int_tex {
    font-size: 20px;
    font-weight: 400;
    max-width: 600px;
}

.int_text_two {
    margin-top: 46px;
    color: red;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 26px !important;
}

.realImage {
    border: 2px solid black;
    height: 400px;
}

.share_build {
    max-width: 600px;
    font-weight: 400;

    font-size: 19px;
    max-width: 600px;
}
.startbtn {
    background-color: black;
    color: whitesmoke;
    width: 150px;
    height: 40px;
    font-size: 16px;
}
.servi{
    font-family: 'Archivo', sans-serif;

}
.tiny_num{
    font-size: 16px !important;
    font-weight: 100 !important;
    margin-right: 15px;
    margin-top: 10px;
}
.bc {
    margin-top: 140px;
    margin-bottom: 120px;
    width: 70%;
}
.skill{
    font-size: 35px;
   
}
.hr_Card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 6px;
    text-align: left;
    max-width: 400px;
    border: 2px solid rgba(128, 128, 128, 0.138);
}
@media only screen and (max-width: 1024px) {
    .about_head_text {
        margin-top: 50px;
        text-align: center;
        font-family: 'Italiana', serif;
        font-size: 45px;
        font-weight: 700;
    }
    .what_we_do {
        font-family: 'Italiana', serif;
        font-size: 30px;
        font-weight: 700;
    }
}