@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Habibi&family=Ovo&family=Unbounded:wght@200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #f9f9f9;
}

.header {
  padding-top: 15px;
  z-index: 2;
}

.div {
  padding-left: 5%;
  padding-right: 5%;
}

.haead_arrow {
  height: 16px;
  width: 16px;
  margin-left: 5px;
  margin-top: 6px;
}

.phone {
  height: 25px;
  width: 20px;
}

.top_image {
  margin-left: 30px;
}

.nav_link_ {
  font-size: 18px;
  margin-right: 20px;
  font-weight: 500;
}

.nav_link {
  margin-right: 24px;
  font-size: 18px;
  font-weight: 500;
}

.about_option {
  font-weight: 300;
}

.logoImage {
  height: 40px;
}

.top_imag {
  z-index: 1;
}

.start_btn {
  background-color: black;
  color: whitesmoke;
  width: 150px;
  height: 40px;
}

.footer {
  color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_line {
  border: 2px solid white;
  width: 100%;
}

.footer_icon {
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

@media only screen and (max-width: 770px) {
  .head_desktop {
    display: none;
  }
}
@media only screen and (min-width: 770px) {
  .head_mob {
    display: none;
  }
}
.miniii {
  font-weight: 500;
  padding-right: 20px;
}

.bxg {
  height: 25px;
}

.hero_text {
  font-family: "Italiana", serif;
  text-align: center;
  font-size: 60px;
  z-index: 2;
  position: relative;
  bottom: 250px;
  font-weight: 600;
  left: 40px;
}

.landingPages {
  margin-top: 50px;
}

.wee {
  margin-top: 120px;
}

.whole {
  background-color: #f9f9f9;
}

.sk {
  width: 100%;
}

.bt_img {
  position: relative;
  bottom: 100px;
}

.flat {
  margin-left: 10px;
}

.family {
  height: 280px;
  width: 350px;
  margin-right: 150px;
  margin-top: 100px;
  margin-bottom: 80px;
  position: relative;
  bottom: 80px;
}

.hh {
  height: 290px;
}

.point {
  margin-top: 20px;
}

.round_dot {
  border-radius: 50%;
  background-color: black;
  height: 20px;
  margin-right: 20px;
  width: 20px;
  margin-top: 12px;
}

.testimoal_text {
  font-family: "Archivo", sans-serif;
  font-size: 25px;
}

.slot {
  font-size: 35px;
  font-weight: 300;
  font-family: "Archivo", sans-serif !important;
}

.work_ect {
  border: 2px solid rgb(112, 112, 112);
  margin-top: 160px;
  background-color: #a3fba2;
  color: rgb(38, 60, 48);
  font-family: "Archivo", sans-serif !important;
  width: 170px;
  font-weight: 400;
  padding: 10px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.ver {
  height: 25px;
  margin-top: 1px;
  margin-right: 10px;
}

.round_dot_2 {
  border-radius: 50%;
  background-color: white;
  height: 10px;
  margin-right: 10px;
  width: 10px;
  margin-top: 12px;
}

.what_we_do_line {
  border: 1px solid black;
  width: 100%;
  margin-top: 10px;
  font-family: "Archivo", sans-serif;
}

.service_sub {
  text-align: justify;
  margin-top: 30px;
}

.what_we_do {
  font-family: "Archivo", sans-serif;
  font-size: 30px;
}

.hadliner {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.video_2 {
  margin-top: 70px;
  margin-bottom: 70px;
  height: 500px;
}

.service_div {
  max-width: 500px;
}

.port_div {
  margin-top: 100px;
}

.portfoio_div {
  margin-top: 70px;
}

.test_divv {
  margin: 0;
  background-image: linear-gradient(90deg, #201a35, #0b0320);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.logoImage {
  height: 65px;
  width: 150px;
}

.slider {
  width: 100%;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}

.testimonials .item {
  width: 600px;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.testimonials .item img {
  width: 400px;
}

.testimoal_text {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  margin-top: 70px;
}

.testimonials .item h2 {
  font-size: 14px;
}

.suiteService {
  margin-top: 150px;
  margin-bottom: 90px;
  max-width: 680px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_ptovide {
  margin-left: 4%;
  margin-right: 4%;
}

.top_service {
  padding: 20px;
  padding-bottom: 20px;
  font-family: "Cormorant", serif;
  font-size: 25px;
  padding-top: 50px;
  margin-bottom: 80px;
}

.sold {
  height: 400px;
}

.growth {
  font-family: "Cormorant", serif;
  font-size: 35px;
  font-weight: 600;
}

.tag_header {
  font-size: 40px;
  font-family: "Ovo", serif;
}

.serv_text {
  font-family: "Archivo", sans-serif;
}

.porto {
  max-width: 500px;
}

.conv {
  font-family: "Italiana", serif;
  font-size: 23px;
  font-weight: 600;
}

.service_ptovide {
  margin-bottom: 100px;
  color: white;
  padding-bottom: 70px;
  background-color: black;
}

.video_div {
  max-width: 600px;
  margin-top: 20px;
}

.getStarte {
  margin-top: 40px;
  height: 40px;
  width: 150px;
  color: black;
  background-color: #f9f9f9;
}

.dots label {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition-duration: 0.2s;
}

.mlx {
  margin-top: 230px;
}

.effort {
  margin-top: 130px;
  margin-bottom: 130px;
}

#t-1:checked ~ .dots label[for=t-1],
#t-2:checked ~ .dots label[for=t-2],
#t-3:checked ~ .dots label[for=t-3],
#t-4:checked ~ .dots label[for=t-4],
#t-5:checked ~ .dots label[for=t-5] {
  transform: scale(3);
  background-color: #fff;
}

.about_head {
  margin-top: 70px;
}

#t-1:checked ~ .dots label[for=t-2],
#t-2:checked ~ .dots label[for=t-1],
#t-2:checked ~ .dots label[for=t-3],
#t-3:checked ~ .dots label[for=t-2],
#t-3:checked ~ .dots label[for=t-4],
#t-4:checked ~ .dots label[for=t-3],
#t-4:checked ~ .dots label[for=t-5],
#t-5:checked ~ .dots label[for=t-4] {
  transform: scale(2);
}

#t-1:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}

#t-1:checked ~ .testimonials label[for=t-4],
#t-2:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(900px, 0, -270px) rotateY(-35deg);
  z-index: 1;
}

#t-1:checked ~ .testimonials label[for=t-3],
#t-2:checked ~ .testimonials label[for=t-4],
#t-3:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked ~ .testimonials label[for=t-2],
#t-2:checked ~ .testimonials label[for=t-3],
#t-3:checked ~ .testimonials label[for=t-4],
#t-4:checked ~ .testimonials label[for=t-5] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for=t-1],
#t-3:checked ~ .testimonials label[for=t-2],
#t-4:checked ~ .testimonials label[for=t-3],
#t-5:checked ~ .testimonials label[for=t-4] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for=t-1],
#t-4:checked ~ .testimonials label[for=t-2],
#t-5:checked ~ .testimonials label[for=t-3] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-5:checked ~ .testimonials label[for=t-2],
#t-4:checked ~ .testimonials label[for=t-1] {
  transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}

#t-5:checked ~ .testimonials label[for=t-1] {
  transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}

#t-1:checked ~ .testimonials label[for=t-1],
#t-2:checked ~ .testimonials label[for=t-2],
#t-3:checked ~ .testimonials label[for=t-3],
#t-4:checked ~ .testimonials label[for=t-4],
#t-5:checked ~ .testimonials label[for=t-4],
#t-5:checked ~ .testimonials label[for=t-5] {
  z-index: 4;
}

.solo {
  font-size: 34px !important;
  font-family: "Archivo", sans-serif !important;
}

.testimonal_Div {
  margin-top: 80px;
}

.about_head_text {
  text-align: center;
  font-size: 65px;
  font-family: "Ovo", serif;
  font-weight: 800;
}

.header_hero_div {
  max-width: 1200px;
}

.soooop {
  padding-bottom: 50px;
}

.test_line {
  margin-bottom: 80px;
}

.round_dot {
  border-radius: 50%;
  background-color: black;
  height: 15px;
  margin-right: 20px;
  width: 15px;
}

.item_1 {
  background-color: gainsboro;
  color: black !important;
}

.item_2 {
  background-color: rgb(139, 83, 0);
}

.item_3 {
  background-color: rgb(47, 255, 224);
}

.amarlux {
  text-decoration: underline;
  font-size: 20px;
}

.item_4 {
  background-color: khaki;
}

.item_5 {
  background-color: mediumvioletred;
}

.package {
  font-family: "Italiana", serif;
  font-size: 50px;
  font-weight: 700;
  color: silver;
}

.priz {
  font-family: "Italiana", serif;
  font-size: 40px;
  font-weight: 700;
  color: whitesmoke;
}

.package_godl {
  font-family: "Italiana", serif;
  font-size: 50px;
  font-weight: 700;
  color: gold;
}

.price_con {
  max-width: 400px;
  color: whitesmoke;
  margin-top: 40px;
}

.price_Card {
  background-color: black;
  max-width: 650px;
  border-radius: 10px;
  padding: 30px;
  width: 470px;
  padding-bottom: 200px;
}

.bill {
  font-size: 18px;
  font-weight: 600;
  color: red;
}

.faq {
  background-color: #252525;
  color: whitesmoke !important;
  margin-top: 130px;
  padding-top: 70px;
  border-radius: 50px;
  padding-bottom: 30px;
}

.questions {
  max-width: 70%;
  text-align: justify;
}

.quest_head {
  text-align: justify;
  margin-left: 100px;
}

.qustion_header {
  font-size: 46px;
  font-weight: 600;
}

.start {
  background-color: #a3fba2;
  color: black;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.start_now {
  background-color: #a3fba2;
  color: black;
  width: 150px;
  height: 50px;
  font-weight: 700;
  margin-top: 15px;
  font-size: 25px !important;
  margin-bottom: 15px;
}

.more {
  font-family: "Italiana", serif;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}

.book_Call {
  font-size: 20px;
  font-weight: 400;
  color: #a3fba2;
  margin-top: 10px;
}

.plus {
  height: 20px;
}

.end {
  padding: 80px 50px 80px;
  background-color: rgb(0, 0, 0);
  margin-top: 60px;
}

.End_note {
  font-family: "Italiana", serif;
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
  color: whitesmoke;
}

.bk_div {
  border: 1px solid black;
  width: 80px;
  padding: 5px;
  border-radius: 15px;
  margin-left: auto;
  margin-bottom: 20px;
}

.bk_div_black {
  border: 1px solid rgba(0, 0, 0, 0.412);
  width: 80px;
  padding: 5px;
  border-radius: 15px;
  margin-left: auto;
  margin-bottom: 20px;
}

.book_slot {
  font-family: "Archivo", sans-serif !important;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.booked_div {
  margin: 10px;
  height: 250px;
  width: 250px;
  background-color: rgba(128, 128, 128, 0.067);
  border: 1px solid rgba(128, 128, 128, 0.505);
  padding: 10px;
  color: gray;
  border: 2px solid rgba(128, 128, 128, 0.352);
  border-radius: 10px;
}

.booked_div_available {
  margin: 10px;
  height: 250px;
  width: 250px;
  background-color: #a3fba2;
  border: 1px solid rgba(128, 128, 128, 0.505);
  padding: 5px;
  color: black;
  border: 2px solid rgba(128, 128, 128, 0.352);
  border-radius: 10px;
}

.sloo {
  margin-bottom: 140px;
  font-size: 20px;
}

.small_ {
  font-size: 15px !important;
}

.int {
  height: 300px;
  width: 800px;
}

.book {
  text-align: center;
  font-size: 12px;
}

.booked_div {
  padding: 7px;
  border: whitesmoke;
}

.mark {
  height: 21px;
  margin-top: 4px;
}

@media only screen and (max-width: 1024px) {
  .tag_header {
    font-size: 35px;
    font-family: "Ovo", serif;
  }
  .End_note {
    font-family: "Italiana", serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
    color: whitesmoke;
  }
  .about_head_text {
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  }
  .what_we_do {
    font-family: "Archivo", sans-serif;
    font-size: 25px !important;
  }
  .round_dot {
    border-radius: 50%;
    background-color: black;
    height: 15px;
    margin-right: 20px;
    width: 15px;
    margin-top: 12px;
  }
  .hadliner {
    font-size: 30px;
    font-family: "Archivo", sans-serif;
  }
  .video_2 {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 400px;
  }
  .book_slot {
    font-family: "Archivo", sans-serif !important;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
  .booked_div {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.067);
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 10px;
    color: gray;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .booked_div_available {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: #a3fba2;
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 5px;
    color: black;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .start_now {
    background-color: #a3fba2;
    color: black;
    width: 150px;
    height: 50px;
    font-weight: 700;
    margin-top: 15px;
    font-size: 20px !important;
    margin-bottom: 15px;
  }
  .sloo {
    margin-bottom: 90px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 770px) {
  .collapse_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .packages {
    display: grid;
  }
  .landingPages {
    margin-top: 0px;
  }
  .contact_text {
    font-family: "Archivo", sans-serif;
    font-size: 45px !important;
    font-weight: 400;
    margin-top: 120px;
    position: relative;
    top: 20px;
  }
  .quick_Search {
    margin-top: 70px;
  }
  .st {
    margin-bottom: 50px;
  }
  .end {
    display: flex;
    flex-direction: column;
  }
  .form_fel {
    display: grid;
  }
  .form_fel {
    font-family: "Archivo", sans-serif;
    padding: 10px !important;
    color: white;
    margin-top: 150px;
  }
  .price_Card {
    margin-top: 70px;
  }
  .anime_contact {
    flex-direction: column-reverse;
  }
  .about_head {
    padding-left: 3%;
    padding-right: 3%;
  }
  .tabb {
    margin-top: 150px;
  }
  .service_ptovide {
    margin-left: 0%;
    margin-right: 0%;
  }
  .about_head_text {
    margin-top: 50px;
    text-align: center;
    font-size: 35px !important;
    font-weight: 800;
  }
  .what_we_do {
    font-family: "Archivo", sans-serif;
    font-size: 25px !important;
  }
  .round_dot {
    border-radius: 50%;
    background-color: black;
    height: 15px;
    margin-right: 20px;
    width: 15px;
    margin-top: 12px;
  }
  .logoImage {
    height: 40px;
    width: 80px;
  }
  .hadliner {
    font-family: "Archivo", sans-serif;
    font-size: 30px;
  }
  .video_2 {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 400px;
  }
  .booked_div {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.067);
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 10px;
    color: gray;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .booked_div_available {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: #a3fba2;
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 5px;
    color: black;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .book_slot {
    font-family: "Archivo", sans-serif !important;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .slot {
    font-size: 28px !important;
    font-weight: 300;
    font-family: "Archivo", sans-serif !important;
  }
  .sloo {
    margin-bottom: 90px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 430px) {
  .price_Card {
    background-color: black;
    max-width: 650px;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    padding-bottom: 200px;
  }
  .logoImage {
    height: 40px;
    width: 80px;
    margin-top: 25px;
  }
  .packages {
    display: grid;
  }
  .end {
    display: flex;
    flex-direction: column;
  }
  .price_Card {
    margin-top: 70px;
  }
  .about_head {
    padding-left: 1%;
    padding-right: 1%;
  }
  .hell {
    margin-top: 120px;
  }
  .about_head_text {
    margin-top: 100px;
    text-align: center;
    font-size: 30px !important;
    font-weight: 400;
  }
  .widget {
    width: 300px;
    height: 300px;
  }
  .ape {
    flex-direction: column-reverse !important;
  }
  .what_we_do {
    font-family: "Archivo", sans-serif !important;
    font-size: 25px !important;
  }
  .round_dot {
    border-radius: 50%;
    background-color: black;
    height: 15px;
    margin-right: 20px;
    width: 15px;
    margin-top: 12px;
  }
  .hadliner {
    font-family: "Archivo", sans-serif;
    font-size: 28px;
  }
  .tag_header {
    font-size: 28px;
    font-family: "Ovo", serif;
  }
  .video_2 {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 400px;
    width: 400px;
  }
  .solo {
    font-size: 29px !important;
  }
  .booked_div {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.067);
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 10px;
    color: gray;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .top_service {
    padding: 20px;
    padding-bottom: 20px;
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 80px;
  }
  .booked_div_available {
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: #a3fba2;
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 5px;
    color: black;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .logoImage {
    position: relative;
    bottom: 20px;
    right: 20px;
  }
  .book_slot {
    font-family: "Archivo", sans-serif !important;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .sub_Serv {
    flex-direction: column-reverse;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .iframe {
    width: 100%;
  }
  .slot {
    font-size: 18px !important;
    font-weight: 300;
    font-family: "Archivo", sans-serif !important;
  }
  .sloo {
    margin-bottom: 90px;
    font-size: 20px;
  }
  .video_2 {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 300px;
  }
  .qustion_header {
    font-family: "Italiana", serif;
    font-size: 36px;
    font-weight: 600;
  }
  .End_note {
    font-family: "Italiana", serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: whitesmoke;
  }
  .start_now {
    background-color: #a3fba2;
    color: black;
    width: 120px;
    height: 40px;
    font-weight: 700;
    margin-top: 15px;
    font-size: 20px !important;
    margin-bottom: 15px;
  }
  .lowe_footer {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .work_ect {
    border: 2px solid rgb(112, 112, 112);
    margin-top: 60px;
    background-color: #a3fba2;
    color: rgb(38, 60, 48);
    font-family: "Archivo", sans-serif !important;
    width: 170px;
    font-weight: 400;
    padding: 10px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  .booked_div {
    margin: 10px;
    height: 250px;
    width: 300px;
    background-color: rgba(128, 128, 128, 0.067);
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 10px;
    color: gray;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
  .booked_div_available {
    margin: 10px;
    height: 250px;
    width: 300px;
    background-color: #a3fba2;
    border: 1px solid rgba(128, 128, 128, 0.505);
    padding: 5px;
    color: black;
    border: 2px solid rgba(128, 128, 128, 0.352);
    border-radius: 10px;
  }
}
@media only screen and (max-width: 380px) {
  .video_2 {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 250px;
  }
  .price_Card {
    background-color: black;
    max-width: 650px;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    padding-bottom: 200px;
  }
  .pac .hadliner {
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
}
.we_div {
  max-width: 350px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Della Respira", serif;
  text-align: left;
}

.we_card {
  border: 2px solid black !important;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.about_image_2 {
  height: 85px !important;
  width: 250px !important;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.about_hero {
  margin-top: 180px;
  padding-left: 5%;
  font-size: 67px;
  font-family: "Ovo", serif;
  font-weight: 800;
}

.about_hero_sub {
  padding-left: 5%;
  font-size: 67px;
  font-family: "Ovo", serif;
  font-weight: 600;
  position: relative;
  bottom: 80px;
}

.about_image_1 {
  border-radius: 50%;
  z-index: 2;
}

.black_round {
  border-radius: 50%;
  z-index: 1;
  position: relative;
  right: 50px;
  width: 200px;
  background-color: black;
  height: 200px;
  color: white;
  font-size: 18px !important;
  padding-top: 22%;
  font-weight: 100;
  padding-left: 55px;
  font-style: italic;
  font-family: "Archivo", sans-serif;
}

.about_div {
  padding-top: 60px;
  background-color: #F4D4AE;
  z-index: 0;
}

.about_us_section {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.about_us_section.sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.sem {
  font-size: 20px;
}

.semrush {
  margin-top: 180px !important;
  margin-bottom: 80px;
}

.indvi {
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  padding: 10px;
}

.abou_bav {
  background-color: black;
  height: 45px;
  border-radius: 5px;
  color: white;
}

.top_pro {
  margin-top: 150px;
}

.div_men {
  margin-top: 70px;
}

.sop {
  font-family: "Della Respira", serif !important;
}

.au {
  background-color: red;
}

.we_cardee {
  margin-top: 120px;
}

.last_Cta {
  background-color: black;
  color: white;
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 20px 50px 70px;
}

.we_head {
  margin-bottom: 130px;
  font-size: 45px !important;
}

.we_img {
  margin-top: 100px;
}

.we_card {
  /* Add card styles here */
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: background-color 0.3s, color 0.3s;
  /* Add transition for background-color and color */
}

.we_card:hover,
.we_card:active {
  background-color: black;
  color: #fff;
  /* Change text color to white on hover and press */
}

.display_img {
  width: 70%;
}

.ought {
  color: red;
  font-weight: 600;
}

.process {
  margin-top: 50px;
}

.sub_card {
  font-size: 16px;
}

.heap {
  width: 100%;
  margin-bottom: 80px;
}

.about_intro {
  font-size: 35px;
  text-align: center;
}

.Problem_point {
  font-weight: 400;
  font-size: 22px;
  max-width: 600px;
}

.about_into_main {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 70px;
}

.round_dot_white {
  border-radius: 50%;
  background-color: white;
  height: 10px;
  margin-right: 20px;
  width: 10px;
  margin-top: 12px;
}

.serv {
  font-family: "Italiana", serif;
  font-size: 20px;
  font-weight: 700;
}

.intent_header {
  font-family: "Ovo", serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 28px;
}

.home_img {
  margin-top: 90px;
  height: 500px;
  border-radius: 7px;
}

.inspec {
  margin-top: 90px;
  height: 500px;
  border-radius: 7px;
}

.sub_button {
  width: 150px;
  font-weight: 500;
  height: 38px;
  font-size: 18px;
  color: black;
  background-color: white;
}

.chase {
  font-family: "Italiana", serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 48px;
}

.sub_cta {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;
}

.int_div {
  margin-top: 65px;
}

.int_tex {
  font-size: 20px;
  font-weight: 400;
  max-width: 600px;
}

.int_text_two {
  margin-top: 46px;
  color: red;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 26px !important;
}

.realImage {
  border: 2px solid black;
  height: 400px;
}

.share_build {
  max-width: 600px;
  font-weight: 400;
  font-size: 19px;
  max-width: 600px;
}

.startbtn {
  background-color: black;
  color: whitesmoke;
  width: 150px;
  height: 40px;
  font-size: 16px;
}

.servi {
  font-family: "Archivo", sans-serif;
}

.tiny_num {
  font-size: 16px !important;
  font-weight: 100 !important;
  margin-right: 15px;
  margin-top: 10px;
}

.bc {
  margin-top: 140px;
  margin-bottom: 120px;
  width: 70%;
}

.skill {
  font-size: 35px;
}

.hr_Card {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border-radius: 6px;
  text-align: left;
  max-width: 400px;
  border: 2px solid rgba(128, 128, 128, 0.138);
}

@media only screen and (max-width: 1024px) {
  .about_head_text {
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  }
  .what_we_do {
    font-size: 30px;
  }
  .about_hero_sub {
    padding-left: 5%;
    font-size: 45px;
    font-family: "Ovo", serif;
    font-weight: 600;
    position: relative;
    bottom: 45px;
    margin-left: 34px;
  }
  .about_hero {
    margin-top: 150px;
    padding-left: 5%;
    font-size: 45px;
    font-family: "Ovo", serif;
    font-weight: 800;
  }
  .about_image_2 {
    height: 45px !important;
    width: 150px !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .about_image_1 {
    border-radius: 50%;
    z-index: 2;
    width: 120px;
    height: 120px;
  }
  .black_round {
    border-radius: 50%;
    z-index: 1;
    position: relative;
    right: 30px;
    width: 120px;
    background-color: black;
    height: 120px;
    color: white;
    font-size: 12px !important;
    padding-top: 22%;
    font-weight: 100;
    padding-left: 32px;
    font-style: italic;
    font-family: "Archivo", sans-serif;
  }
  .tga_ {
    width: 20px;
  }
  .intent_header {
    font-family: "Ovo", serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 28px;
  }
  .realImage {
    border: 2px solid black;
    height: 360px;
    width: 500px;
    margin-left: 50px;
    margin-top: 100px;
  }
  .int_tex {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }
  .Problem_point {
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    max-width: 600px;
  }
  .home_img {
    margin-top: 90px;
    height: 350px;
    margin-left: 30px;
    border-radius: 7px;
  }
  .inspec {
    margin-top: 90px;
    height: 300px;
    border-radius: 7px;
    margin-right: 80px;
    margin-top: 180px;
  }
  .strategy {
    margin-left: 50px;
  }
  .we_head {
    margin-bottom: 50px;
    font-size: 45px !important;
  }
}
@media only screen and (max-width: 770px) {
  .about_head_text {
    margin-top: 50px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
  }
  .what_we_do {
    font-family: "Archivo", sans-serif;
    font-size: 30px;
  }
  .about_hero_sub {
    padding-left: 5%;
    font-size: 35px;
    font-family: "Ovo", serif;
    font-weight: 600;
    position: relative;
    bottom: 33px;
    margin-left: 10px;
  }
  .about_hero {
    margin-top: 150px;
    padding-left: 5%;
    font-size: 35px;
    font-family: "Ovo", serif;
    font-weight: 800;
  }
  .about_image_2 {
    height: 45px !important;
    width: 120px !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .about_image_1 {
    border-radius: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
  }
  .black_round {
    border-radius: 50%;
    z-index: 1;
    position: relative;
    right: 30px;
    width: 100px;
    background-color: black;
    height: 100px;
    color: white;
    font-size: 12px !important;
    padding-top: 22%;
    font-weight: 100;
    padding-left: 32px;
    font-style: italic;
    font-family: "Archivo", sans-serif;
  }
  .tga_ {
    width: 20px;
  }
  .intent_header {
    font-family: "Ovo", serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 28px;
  }
  .int_div {
    margin-top: 0px;
    flex-direction: column-reverse;
  }
  .realImage {
    border: 2px solid black;
    height: 360px;
    width: 500px;
    margin-left: 50px;
    margin-top: 100px;
  }
  .int_tex {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
  }
  .Problem_point {
    font-weight: 400;
    text-align: justify;
    font-size: 18px;
    max-width: 600px;
  }
  .home_img {
    margin-top: 90px;
    height: 350px;
    margin-left: 30px;
    border-radius: 7px;
    width: 500px;
  }
  .inspec {
    margin-top: 90px;
    height: 300px;
    border-radius: 7px;
    margin-right: 80px;
    margin-top: 180px;
  }
  .strategy {
    margin-left: 50px;
  }
  .we_head {
    margin-bottom: 50px;
    font-size: 45px !important;
  }
  .realImage {
    border: 2px solid black;
    height: 360px;
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .su {
    margin-top: 30px;
  }
  .yab {
    flex-direction: column-reverse;
    align-items: center;
  }
  .yabu {
    flex-direction: column;
    align-items: center;
  }
  .inspec {
    margin-top: 10px;
    height: 500px;
    width: 500px;
    border-radius: 7px;
  }
  .hr_Card {
    margin-top: 50px;
  }
  .tabb {
    flex-direction: column;
    align-items: center;
  }
  .skill {
    font-size: 25px;
  }
  .strategy,
  .dex {
    font-size: 14px;
  }
  .we_cardee {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .bc {
    margin-top: 140px;
    margin-bottom: 120px;
    width: 90%;
  }
}
@media only screen and (max-width: 430px) {
  .about_image_1_div {
    display: none;
  }
  .bc {
    margin-top: 140px;
    margin-bottom: 120px;
    width: 100%;
  }
  .about_hero_sub {
    padding-left: 5%;
    font-size: 25px;
    font-family: "Ovo", serif;
    font-weight: 600;
    position: relative;
    bottom: -5px;
    margin-left: 10px;
  }
  .about_hero {
    margin-top: 150px;
    padding-left: 5%;
    font-size: 30px;
    font-family: "Ovo", serif;
    font-weight: 800;
  }
  .about_image_2 {
    height: 30px !important;
    width: 70px !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .realImage {
    border: 2px solid black;
    height: 360px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .intent_header {
    font-family: "Ovo", serif;
    font-size: 27px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 25px;
  }
  .inspec {
    margin-top: 10px;
    height: 400px;
    width: 400px;
    border-radius: 7px;
    margin-right: 0px;
  }
  .dex, .strategy {
    width: 100%;
  }
  .work_process {
    flex-direction: column;
  }
  .strategy {
    margin-left: 0px;
  }
  .home_img {
    margin-top: 90px;
    height: 300px;
    margin-left: 30px;
    border-radius: 7px;
    width: 400px;
  }
}
@media only screen and (max-width: 430px) {
  .about_image_1_div {
    display: none;
  }
  .bc {
    margin-top: 140px;
    margin-bottom: 120px;
    width: 100%;
  }
  .about_hero_sub {
    padding-left: 5%;
    font-size: 25px;
    font-family: "Ovo", serif;
    font-weight: 600;
    position: relative;
    bottom: -5px;
    margin-left: 10px;
  }
  .about_hero {
    margin-top: 150px;
    padding-left: 5%;
    font-size: 30px;
    font-family: "Ovo", serif;
    font-weight: 800;
  }
  .about_image_2 {
    height: 30px !important;
    width: 70px !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .realImage {
    border: 2px solid black;
    height: 360px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .intent_header {
    font-family: "Ovo", serif;
    font-size: 27px;
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 25px;
  }
  .inspec {
    margin-top: 10px;
    height: 350px;
    width: 400px;
    border-radius: 7px;
    margin-right: 0px;
  }
  .dex, .strategy {
    width: 100%;
  }
  .work_process {
    flex-direction: column;
  }
  .strategy {
    margin-left: 0px;
  }
  .home_img {
    margin-top: 90px;
    height: 300px;
    margin-left: 30px;
    border-radius: 7px;
    width: 400px;
  }
}
.teams {
  background-image: url("/load.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-left: 100px;
  padding-top: 104px;
  z-index: 1;
}

.lov {
  margin-right: 85px;
}

.team_div {
  background-color: rgba(165, 219, 239, 0.5137254902);
  padding-top: 70px;
}

.team_member {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.team {
  padding-left: 2%;
  padding-right: 2%;
}

.saf {
  border-radius: 50%;
  height: 270px;
  width: 260px;
  margin-top: 40px;
}

.good {
  border-radius: 50%;
  height: 300px;
  width: 260px;
  margin-top: 40px;
}

.fra {
  border-radius: 50%;
  height: 200px;
  width: 210px;
  margin-top: 120px;
}

.round_doit {
  border-radius: 50%;
  background-color: black;
  height: 20px;
  margin-right: 20px;
  width: 20px;
  margin-top: 20px;
}

.team_pic {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

@media only screen and (max-width: 1024px) {
  .team_pic {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}
@media only screen and (max-width: 770px) {
  .teams {
    background-image: url("/load.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-left: 50px;
    padding-top: 104px;
    z-index: 1;
  }
  .team_pic {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
  .lov {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .team_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
}
.contact_text {
  font-family: "Archivo", sans-serif;
  font-size: 75px;
  font-weight: 400;
  margin-top: 120px;
  position: relative;
  top: 20px;
}

.contact_Sub {
  margin-top: 130px;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  font-family: "Italiana", serif;
}

.anime_contact {
  margin-top: 140px;
}

.custom-input {
  border: none;
  /* Remove all borders */
  border-bottom: 2px solid white;
  /* Add white bottom border */
  outline: none;
  /* Remove default focus outline */
  background-color: transparent;
  /* Transparent background */
  padding: 5px;
  /* Some padding for visual separation */
  color: white;
  /* Text color */
  width: 300px;
  /* Set your desired width */
  margin-top: 20px;
}

.custom-messa {
  border: none;
  /* Remove all borders */
  border-bottom: 2px solid white;
  /* Add white bottom border */
  outline: none;
  /* Remove default focus outline */
  background-color: transparent;
  /* Transparent background */
  padding: 5px;
  /* Some padding for visual separation */
  color: white;
  /* Text color */
  width: 300px;
  height: 200px;
  /* Set your desired width */
  margin-top: 20px;
}

.widget {
  width: 500px;
  height: 500px;
}

.form_fel {
  font-family: "Archivo", sans-serif;
  justify-content: center;
  padding: 80px;
  color: white;
  margin-top: 150px;
}

.forn_det {
  margin-top: 70px;
  font-size: 20px;
}

.qies {
  font-size: 20px;
}

.sub_btn {
  background-color: white;
  color: black;
  width: 150px;
  height: 40px;
}

.portheade {
  font-size: 65px;
  text-align: center;
  font-family: "Della Respira", serif;
  margin-top: 150px;
  margin-bottom: 40px;
}

.porthead {
  font-size: 25px;
  text-align: center;
  font-family: "Della Respira", serif;
}

.port {
  padding-top: 170px;
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
}

.port_content {
  margin-left: 3%;
  margin-right: 3%;
}

.port_img {
  height: 100vh;
}

.ppp {
  margin-left: 5%;
  margin-right: 5%;
}

.live_link,
.case {
  font-size: 16px;
  margin-right: 20px;
  font-family: "Archivo", sans-serif !important;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 430px) {
  .portheade {
    font-size: 25px;
    text-align: center;
    font-family: "Della Respira", serif;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .port_img {
    height: 50vh;
  }
  .porthead {
    font-size: 18px;
  }
  .port_content {
    margin-left: auto;
    marker-start: auto;
  }
}/*# sourceMappingURL=global.css.map */